
*{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}


.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:#FFFFFF;
   

}

.title {
    margin: 3% auto 1% auto;
}

.menu > ul {
    list-style: none;
    padding: 0 30%;
    display: flex;
    justify-content: space-around;
    margin: 1% auto 2% auto;
}

.navbar-button {
    padding: 0.75rem 0.95rem;
    border: none;
    border-radius: 5%;
    background-color: #FFFFFF;
    font-style: italic;
    color: gray;
    font-size: 0.80rem;
}

.navbar-button:hover {
    color: #FFFFFF;
    background-color: #D52349;
}

.imagen-de-fondo {
    background-image: url(../images/pic01.jpg);
    display: flex;
    justify-content: center;
    background-image: no-repeat;
    background-position: center;
}

.rectangulo-oscuro-interior {
    background-color: #242021;
    margin: 10% auto;
    width: 45%;
    display: flex;
    flex-direction: column ;
    text-align: center;
}

.titulo-rectangulo {
    color:white;
    margin: 5% 5% 2.5% 5%;
}

.subtitulo-rectangulo {
    color:#D52349;
    margin: 2.5% 5% 5% 5%;
}

.tercera-seccion {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.seccion-3-1 {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    gap: 0.15rem;
    margin: 2rem auto 2rem auto;
}

.ipsum, .magna, .tempus {
    width: 20%;
    height:75%; 
    text-align: center;
    justify-content: center;
    padding: 0 1.5rem 0 1.5rem;
}

.hover:hover {
    box-shadow: 5px 0 10px gray;
}

.forma {
    width: 6rem;
    height: 5rem;
    text-align: center;
    padding-top: 1rem;
    margin: 2rem auto 0 auto;
    clip-path: polygon(0% 0%, 100% 0, 100% 58%, 50% 100%, 0 58%);
    color:white;
    font-size: 2rem;
}

.ipsum >.forma {
    background-color: #D52349;
}

.magna >.forma {
    background-color: #252122;
}

.tempus >.forma {
    background-color: #827A7C;
}

.seccion-3-1 p {
    color: gray;
    font-style: italic;
}

.seccion-3-2 {
    display: flex;
    justify-content: center;
    margin: 1rem auto 1rem auto;
    width: 100%;
}

.seccion-3-2 button {
    width: 20%;
    height: 10%;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3%;
    padding: 1rem;
    margin: 0 0.5rem 3rem 0.5rem;
}

.get-started {
    background-color: #D52349;
}

.learn-more {
    background-color: #252122;
}

.portfolio {
    background-color: #F7F7F7;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 70%;
    height: 75%;
    margin: auto;
}
.card {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.card-button {
    width: 40%;
    height: 10%;
    color: white;
    font-weight: bold;
    font-size: small;
    border: none;
    border-radius: 3%;
    margin: auto;
    background-color: #252122;
}

.card-container img {
    max-width: 100%;
    height: auto;
}

.one, .two, .three {
    border-bottom: #827A7C;
}

.four, .five, .six {
    background-color: #827A7C;
}